@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.container404{ 

  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  
  letter-spacing: -7px;
}

.D404{
  animation: glitch 1s linear infinite;
}
.D404_Text{
    font-size: 50vh;
 }
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.d404:before,
.d404:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.d404:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.d404:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.goHome {
    position: block;;
    mix-blend-mode: screen;
    -webkit-appearance: none;
    outline: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 20px 60px;
    font-size: 2vmin;
    letter-spacing: 0.25vmin;
    margin-top: -50px;
    transition: all 0.2s;
    opacity: 0.85;
  
  }
  @media screen and (max-width: 900px) {
    .D404_Text{
        font-size: 36vh;
    }  @media screen and (max-width: 600px) {
        .D404_Text{ font-size: 22vh;}
    }
  }